In [56]:
import os
import pandas as pd
import logging
import plotly.graph_objects as go
from tqdm import tqdm

In [21]:
RES_PATH = '../../res/'
os.listdir(RES_PATH)

['salinity_2.csv', 'water_temp_2.csv']

In [22]:
CSV_NAME = 'water_temp_2.csv'
df = pd.read_csv(RES_PATH + CSV_NAME)
df.head()

   month        lon        lat  water_temp_2  year
0      0 -61.067473  11.480469     26.813548  2000
1      1 -61.067473  11.480469     26.564828  2000
2      2 -61.067473  11.480469     26.395613  2000
3      3 -61.067473  11.480469     26.656900  2000
4      4 -61.067473  11.480469     27.514286  2000

In [23]:
df['latlon'] = df['lat'].astype(str)+df['lon'].astype(str)
df.head()

,month,lon,lat,water_temp_2,year,latlon
0,0,-61.067473,11.480469,26.813548,2000,11.480469331047486-61.06747301444507
1,1,-61.067473,11.480469,26.564828,2000,11.480469331047486-61.06747301444507
2,2,-61.067473,11.480469,26.395613,2000,11.480469331047486-61.06747301444507
3,3,-61.067473,11.480469,26.656900,2000,11.480469331047486-61.06747301444507
4,4,-61.067473,11.480469,27.514286,2000,11.480469331047486-61.06747301444507

In [39]:
# get number of individual data streams/coordinate positions
points = df['latlon'].unique()
len(points)

15861

In [75]:
# need to get time-series for every point as a numpy array 

data = []
data_col_name = 'water_temp_2'
for p in tqdm(points):
    single_arr = ( 
        df[df.latlon == p]
        .drop(['lat', 'lon', 'latlon'], axis=1)
        .sort_values(['year', 'month'], ascending=True)
        .drop(['year','month'], axis=1)
        [data_col_name]
        .values
    )
    
    try:
        lat, lon = df[df.latlon == p]['lat'].values[0], df[df.latlon == p]['lat'].values[0]
        data.append(([lat, lon], single_arr))
    except Exception as e:
        print(p)
        print(f'lat: {df[df.latlon == p].lat.values[0]}')
        print(f'lon: {df[df.latlon == p].lon.values[0]}')

100%|█████████████████████████████████████| 15861/15861 [1:41:35<00:00,  2.60it/s]

In [79]:
import numpy as np

np.save(RES_PATH+'water_temp_2.npy', data)

In [81]:
# sanity checking
np.load(RES_PATH+'water_temp_2.npy', allow_pickle=True)

array([[list([11.480469331047486, 11.480469331047486]),
        array([26.81354839, 26.56482759, 26.3956129 , 26.6569    , 27.51428571,
               26.9366    , 27.53748387, 28.6413871 , 28.9636    , 28.8236129 ,
               28.37323333, 26.92083333, 26.17954839, 26.03303571, 26.47593548,
               26.91886667, 27.74493548, 27.81043333, 27.9976129 , 28.77909677,
               28.51786207, 28.85      , 28.85893333, 27.97983333, 27.10970968,
               26.75382143, 26.87606452, 27.65083333, 27.54090323, 27.66443333,
               27.73825806, 28.52264516, 29.1569    , 28.89174194, 28.20306667,
               27.441     , 26.81706452, 26.63971429, 26.74274194, 27.31133333,
               27.47787097, 27.84276667, 27.87045161, 29.30406452, 29.72973333,
               29.61845161, 28.9103    , 28.26826667, 27.40216129, 27.17      ,
               27.18506452, 28.05913333, 28.39670968, 28.11643333, 28.49987097,
               28.86574194, 29.41776667, 29.79016129, 29.1614    , 28.45986667,
               27.70832258, 27.87525   , 28.099     , 28.25326667, 29.26519355,
               29.081     , 28.72535484, 29.78887097, 29.72046667, 29.96280645,
               28.5513    , 28.02196667, 27.33406452, 27.02253571, 27.22764516,
               27.63306667, 28.08706452, 28.2246    , 28.23374194, 28.94351613,
               29.2862    , 29.0096129 , 28.68223333, 27.8967    , 27.6146129 ,
               27.28635714, 26.76816129, 27.60373333, 28.4023871 , 28.1895    ,
               28.17406452, 29.01541935, 29.42656667, 28.99045161, 28.49356667,
               27.9239    , 27.18506452, 26.51082759, 26.78451613, 26.80013333,
               27.47732258, 27.8115    , 28.17006452, 29.2896129 , 30.0941    ,
               29.38025806, 29.1742    , 27.76533333, 27.31077419, 26.68942857,
               27.1296129 , 27.30763333, 27.59403226, 28.12023333, 28.08774194,
               28.95706452, 29.1468    , 28.97029032, 28.4187    , 27.9924    ,
               27.45496774, 27.00067857, 27.77929032, 28.34353333, 28.75087097,
               29.08083333, 29.05796774, 29.74170968, 30.4327    , 29.74693548,
               28.95493333, 28.24486667, 27.60851613, 27.45996429, 27.06335484,
               27.9835    , 28.53590323, 28.75856667, 28.74235484, 29.61587097,
               29.85703333, 28.53070968, 28.75256667, 28.39813333, 27.38025806,
               26.9987931 , 26.64596774, 27.5415    , 27.86483871, 27.9776    ,
               28.34432258, 29.01470968, 29.67573333, 29.47903226, 28.97596667,
               28.45943333,         nan,         nan,         nan,         nan,
                       nan,         nan,         nan, 28.78084615, 29.49263333,
               28.95951613, 28.25751724, 27.24936667, 26.48509677, 26.28096429,
               26.461     , 26.76655172, 27.09777419, 27.14846667, 27.61358065,
               28.12354839, 28.50666667, 28.95354839, 28.4588    , 27.88736667,
               26.93633333, 26.76725   , 26.35737931, 26.651     , 26.94354839,
               27.18583333, 27.11196774, 28.28780645, 28.82562069, 28.50567742,
               28.5268    , 27.6549    , 26.60325806, 26.60189655, 26.99935484,
               27.61803333, 27.55880645, 27.8037    , 28.28693333, 28.92164516,
               29.03875   , 29.0582069 , 28.85636667, 28.04651724, 26.86112903,
               26.74490909, 26.88491667, 27.27396364, 27.50806211, 27.72443333,
               28.4211    , 29.20745283, 29.18937037, 28.54716667, 28.24013793,
               27.62693333, 26.54319355, 25.81278571, 26.46417857, 26.83772414,
               26.9125    , 27.11486667, 27.17348387, 27.92477419, 28.71133333,
               28.57329386, 28.23550463, 27.019025  , 26.42478138, 26.39060714,
               26.55077016, 27.0189205 , 27.62488259, 27.91854393, 28.2347379 ,
               28.97916129, 29.34161667, 29.2424879 , 28.77517917, 27.96058333,
               27.32434274, 26.8465    , 27.07864113, 27.3871875 , 27.87533468,
               28.2337375 , 28.33372581, 29.07411694, 29.78560833, 29.23314694,
               28.10019167, 27.8619375 , 26.97571371, 26.67964286, 26.46293145,
               27.20446667, 27.33032258, 27.75782083, 27.78787097, 28.65908468,
               29.34945417, 28.96458871, 28.2538375 , 27.59083333])            ],
       [list([11.480469331047486, 11.480469331047486]),
        array([26.81354839, 26.56482759, 26.3956129 , 26.6569    , 27.51428571,
               26.9366    , 27.53748387, 28.6413871 , 28.9636    , 28.8236129 ,
               28.37323333, 26.92083333, 26.17954839, 26.03303571, 26.47593548,
               26.91886667, 27.74493548, 27.81043333, 27.9976129 , 28.77909677,
               28.51786207, 28.85      , 28.85893333, 27.97983333, 27.10970968,
               26.75382143, 26.87606452, 27.65083333, 27.54090323, 27.66443333,
               27.73825806, 28.52264516, 29.1569    , 28.89174194, 28.20306667,
               27.441     , 26.81706452, 26.63971429, 26.74274194, 27.31133333,
               27.47787097, 27.84276667, 27.87045161, 29.30406452, 29.72973333,
               29.61845161, 28.9103    , 28.26826667, 27.40216129, 27.17      ,
               27.18506452, 28.05913333, 28.39670968, 28.11643333, 28.49987097,
               28.86574194, 29.41776667, 29.79016129, 29.1614    , 28.45986667,
               27.70832258, 27.87525   , 28.099     , 28.25326667, 29.26519355,
               29.081     , 28.72535484, 29.78887097, 29.72046667, 29.96280645,
               28.5513    , 28.02196667, 27.33406452, 27.02253571, 27.22764516,
               27.63306667, 28.08706452, 28.2246    , 28.23374194, 28.94351613,
               29.2862    , 29.0096129 , 28.68223333, 27.8967    , 27.6146129 ,
               27.28635714, 26.76816129, 27.60373333, 28.4023871 , 28.1895    ,
               28.17406452, 29.01541935, 29.42656667, 28.99045161, 28.49356667,
               27.9239    , 27.18506452, 26.51082759, 26.78451613, 26.80013333,
               27.47732258, 27.8115    , 28.17006452, 29.2896129 , 30.0941    ,
               29.38025806, 29.1742    , 27.76533333, 27.31077419, 26.68942857,
               27.1296129 , 27.30763333, 27.59403226, 28.12023333, 28.08774194,
               28.95706452, 29.1468    , 28.97029032, 28.4187    , 27.9924    ,
               27.45496774, 27.00067857, 27.77929032, 28.34353333, 28.75087097,
               29.08083333, 29.05796774, 29.74170968, 30.4327    , 29.74693548,
               28.95493333, 28.24486667, 27.60851613, 27.45996429, 27.06335484,
               27.9835    , 28.53590323, 28.75856667, 28.74235484, 29.61587097,
               29.85703333, 28.53070968, 28.75256667, 28.39813333, 27.38025806,
               26.9987931 , 26.64596774, 27.5415    , 27.86483871, 27.9776    ,
               28.34432258, 29.01470968, 29.67573333, 29.47903226, 28.97596667,
               28.45943333,         nan,         nan,         nan,         nan,
                       nan,         nan,         nan, 28.78084615, 29.49263333,
               28.95951613, 28.25751724, 27.24936667, 26.48509677, 26.28096429,
               26.461     , 26.76655172, 27.09777419, 27.14846667, 27.61358065,
               28.12354839, 28.50666667, 28.95354839, 28.4588    , 27.88736667,
               26.93633333, 26.76725   , 26.35737931, 26.651     , 26.94354839,
               27.18583333, 27.11196774, 28.28780645, 28.82562069, 28.50567742,
               28.5268    , 27.6549    , 26.60325806, 26.60189655, 26.99935484,
               27.61803333, 27.55880645, 27.8037    , 28.28693333, 28.92164516,
               29.03875   , 29.0582069 , 28.85636667, 28.04651724, 26.86112903,
               26.74490909, 26.88491667, 27.27396364, 27.50806211, 27.72443333,
               28.4211    , 29.20745283, 29.18937037, 28.54716667, 28.24013793,
               27.62693333, 26.54319355, 25.81278571, 26.46417857, 26.83772414,
               26.9125    , 27.11486667, 27.17348387, 27.92477419, 28.71133333,
               28.57329386, 28.23550463, 27.019025  , 26.42478138, 26.39060714,
               26.55077016, 27.0189205 , 27.62488259, 27.91854393, 28.2347379 ,
               28.97916129, 29.34161667, 29.2424879 , 28.77517917, 27.96058333,
               27.32434274, 26.8465    , 27.07864113, 27.3871875 , 27.87533468,
               28.2337375 , 28.33372581, 29.07411694, 29.78560833, 29.23314694,
               28.10019167, 27.8619375 , 26.97571371, 26.67964286, 26.46293145,
               27.20446667, 27.33032258, 27.75782083, 27.78787097, 28.65908468,
               29.34945417, 28.96458871, 28.2538375 , 27.59083333])            ],
       [list([11.480469331047486, 11.480469331047486]),
        array([26.82264516, 26.54065517, 26.38716129, 26.62863333, 27.52146429,
               26.9529    , 27.55509677, 28.65222581, 28.9819    , 28.81154839,
               28.3518    , 26.93303333, 26.1953871 , 26.024     , 26.48480645,
               26.91473333, 27.7626129 , 27.8578    , 27.99580645, 28.76135484,
               28.493     , 28.82496774, 28.84523333, 27.98736667, 27.081     ,
               26.71835714, 26.84958065, 27.6726    , 27.55993548, 27.75183333,
               27.70377419, 28.52219355, 29.16483333, 28.8733871 , 28.17636667,
               27.4022    , 26.80377419, 26.66885714, 26.68935484, 27.34426667,
               27.48458065, 27.87463333, 27.85054839, 29.28490323, 29.73633333,
               29.57948387, 28.91726667, 28.28556667, 27.40106452, 27.15993103,
               27.19254839, 28.0649    , 28.42103226, 28.1308    , 28.52387097,
               28.87890323, 29.19576667, 29.78216129, 29.10796667, 28.4644    ,
               27.71180645, 27.87164286, 28.08764516, 28.26613333, 29.25767742,
               29.07286667, 28.71312903, 29.86358065, 29.78266667, 29.91254839,
               28.50966667, 28.01546667, 27.32232258, 27.03571429, 27.24845161,
               27.6053    , 28.11909677, 28.25256667, 28.26451613, 28.98506452,
               29.3878    , 29.07096774, 28.66163333, 27.88293333, 27.60470968,
               27.26946429, 26.73135484, 27.6334    , 28.35990323, 28.2205    ,
               28.16877419, 29.05858065, 29.42303333, 28.98645161, 28.50086667,
               27.9338    , 27.1613871 , 26.44248276, 26.77196774, 26.8295    ,
               27.48454839, 27.8443    , 28.11680645, 29.31745161, 29.95553333,
               29.36525806, 29.18486667, 27.76166667, 27.29645161, 26.66196429,
               27.08603226, 27.29896667, 27.58587097, 28.1543    , 28.0746129 ,
               28.93954839, 29.11536667, 28.96732258, 28.44153333, 27.99123333,
               27.46487097, 26.98607143, 27.78770968, 28.3552    , 28.75619355,
               29.072     , 29.13241935, 29.84083871, 30.42016667, 29.73977419,
               28.8854    , 28.22416667, 27.60503226, 27.44342857, 27.09141935,
               27.9257    , 28.54248387, 28.7446    , 28.76909677, 29.66964516,
               29.88343333, 28.62912903, 28.76446667, 28.3877    , 27.374     ,
               26.99896552, 26.65051613, 27.54853333, 27.87670968, 27.96526667,
               28.33925806, 29.06274194, 29.63876667, 29.54045161, 28.9587    ,
               28.45223333,         nan,         nan,         nan,         nan,
                       nan,         nan,         nan, 28.85607692, 29.45983333,
               28.75680645, 28.24382759, 27.18833333, 26.435     , 26.28128571,
               26.40058065, 26.71075862, 27.09341935, 27.16006667, 27.59419355,
               28.1203871 , 28.6155    , 28.97558065, 28.45883333, 27.88373333,
               26.92736667, 26.71303571, 26.33082759, 26.62646667, 26.81667742,
               27.24596667, 27.03619355, 28.36748387, 28.81717241, 28.514     ,
               28.513     , 27.6915    , 26.62564516, 26.55244828, 27.01558065,
               27.60506667, 27.57625806, 27.86253333, 28.2823    , 28.89803226,
               29.08896429, 29.06675862, 28.80556667, 28.04827586, 26.82854839,
               26.74929091, 26.86856667, 27.26190909, 27.48459627, 27.7185    ,
               28.3915    , 29.19867925, 29.19357407, 28.54864286, 28.19731034,
               27.60873333, 26.63522581, 25.73317857, 26.47714286, 26.80351724,
               26.80986667, 27.01573333, 27.17751613, 27.92741935, 28.65781982,
               28.60136404, 28.21399537, 27.00049167, 26.41153846, 26.38465179,
               26.50931855, 26.99571967, 27.60248988, 27.90243096, 28.23781452,
               28.96996371, 29.35793333, 29.20739919, 28.7839    , 27.9633625 ,
               27.31765726, 26.79054741, 27.06772177, 27.37494583, 27.84693145,
               28.248075  , 28.31795968, 29.06527419, 29.71055417, 29.18673469,
               28.08110417, 27.838575  , 26.9312621 , 26.66144196, 26.40150806,
               27.20646667, 27.30020968, 27.73175833, 27.77981855, 28.63066532,
               29.3424125 , 28.93742339, 28.23517083, 27.5782125 ])            ],
       ...,
       [list([19.27784599720493, 19.27784599720493]),
        array([25.84567742, 25.31282759, 25.05312903, 25.70276667, 26.94932143,
               27.13666667, 27.65816129, 28.11332258, 28.8425    , 28.89019355,
               28.26516667, 27.0703    , 26.18235484, 25.47578571, 26.02419355,
               26.73216667, 27.39632258, 28.21323333, 28.34306452, 28.56658065,
               29.20706897, 29.03132258, 28.3472    , 27.41506667, 26.50745161,
               25.98560714, 25.75251613, 26.30713333, 26.62941935, 27.6904    ,
               28.16819355, 29.02045161, 29.17176667, 29.09416129, 28.6433    ,
               27.6735    , 26.92925806, 26.45121429, 26.70177419, 26.84423333,
               27.48170968, 27.5216    , 27.63222581, 28.51106452, 29.1905    ,
               29.35148387, 28.28856667, 27.25273333, 26.44435484, 26.12503448,
               25.84458065, 26.64126667, 26.95416129, 27.97223333, 28.3593871 ,
               28.84090323, 28.9861    , 29.18203226, 27.91706667, 26.83373333,
               25.72796774, 25.28828571, 26.063     , 27.48753333, 28.23570968,
               29.10483333, 29.31377419, 29.84164516, 30.27536667, 29.42951613,
               28.42803333, 27.19356667, 26.41174194, 25.91353571, 26.10416129,
               26.7971    , 27.4526129 , 28.47316667, 28.37674194, 28.44206452,
               29.5407    , 29.15735484, 28.5399    , 27.60676667, 26.71354839,
               26.5685    , 26.3573871 , 26.77466667, 27.90180645, 28.7061    ,
               28.67277419, 28.81745161, 29.34606667, 28.92322581, 28.34786667,
               27.12783333, 26.476     , 25.8402069 , 25.44370968, 25.64963333,
               26.74558065, 27.86976667, 28.21996774, 28.79309677, 29.06143333,
               28.70754839, 28.07583333, 26.65743333, 25.92787097, 25.65242857,
               25.22487097, 25.98873333, 26.28406452, 27.94226667, 28.56606452,
               28.42490323, 29.1095    , 29.25167742, 28.60743333, 27.7237    ,
               26.80229032, 26.652     , 27.21035484, 27.0912    , 28.18929032,
               29.03643333, 28.90358065, 29.28632258, 28.95173333, 29.02806452,
               27.90636667, 26.76626667, 25.98119355, 26.00221429, 25.6643871 ,
               26.58613333, 27.00306452, 28.2496    , 28.51670968, 28.68145161,
               29.0873    , 28.78090323, 28.44546667, 27.3042    , 26.16729032,
               25.88617241, 25.92022581, 26.48216667, 26.95541935, 28.1051    ,
               28.43690323, 28.66325806, 29.36266667, 29.3163871 , 28.71053333,
               27.68036667,         nan,         nan,         nan,         nan,
                       nan,         nan,         nan, 28.59153846, 28.79263333,
               29.12929032, 28.314     , 27.25753333, 26.29603226, 25.93757143,
               26.05419355, 26.36365517, 26.94306452, 27.48303333, 28.02306452,
               28.17196774, 28.68006667, 28.89658065, 28.58526667, 27.408     ,
               26.57206667, 26.12510714, 26.10613793, 26.3144    , 26.87429032,
               27.7045    , 27.73722581, 28.38845161, 29.1512069 , 29.3883871 ,
               28.77513333, 27.71853333, 26.85564516, 26.58682759, 26.18387097,
               26.61776667, 27.22929032, 27.78866667, 28.2002    , 28.759     ,
               29.12242857, 29.04958621, 28.61723333, 27.69768966, 26.41374194,
               26.255     , 25.89985   , 26.35516364, 26.76581988, 27.76271667,
               28.4083    , 28.7749434 , 28.56653704, 28.36692857, 27.97037931,
               27.49836667, 26.55835484, 25.82671429, 25.80046429, 26.3107931 ,
               26.68956667, 27.40273333, 27.672     , 28.3083871 , 28.65047748,
               28.60730702, 27.93173148, 27.05496667, 26.17075304, 25.79074554,
               25.95393145, 26.46051046, 26.78346154, 27.62624268, 28.2592379 ,
               28.67143952, 29.32976667, 29.21803226, 28.55858333, 27.86713333,
               26.68080242, 26.1988319 , 26.14837097, 26.93185   , 27.58433871,
               28.33476667, 28.67769355, 28.7066129 , 29.11745833, 29.11627755,
               28.28734167, 27.41094167, 26.52461694, 25.99892857, 25.87660081,
               26.1971125 , 26.85370565, 27.47607917, 28.0473629 , 28.39320968,
               28.98764583, 28.91834274, 28.3511125 , 27.56175833])            ],
       [list([19.27784599720493, 19.27784599720493]),
        array([25.84567742, 25.31282759, 25.05312903, 25.70276667, 26.94932143,
               27.13666667, 27.65816129, 28.11332258, 28.8425    , 28.89019355,
               28.26516667, 27.0703    , 26.18235484, 25.47578571, 26.02419355,
               26.73216667, 27.39632258, 28.21323333, 28.34306452, 28.56658065,
               29.20706897, 29.03132258, 28.3472    , 27.41506667, 26.50745161,
               25.98560714, 25.75251613, 26.30713333, 26.62941935, 27.6904    ,
               28.16819355, 29.02045161, 29.17176667, 29.09416129, 28.6433    ,
               27.6735    , 26.92925806, 26.45121429, 26.70177419, 26.84423333,
               27.48170968, 27.5216    , 27.63222581, 28.51106452, 29.1905    ,
               29.35148387, 28.28856667, 27.25273333, 26.44435484, 26.12503448,
               25.84458065, 26.64126667, 26.95416129, 27.97223333, 28.3593871 ,
               28.84090323, 28.9861    , 29.18203226, 27.91706667, 26.83373333,
               25.72796774, 25.28828571, 26.063     , 27.48753333, 28.23570968,
               29.10483333, 29.31377419, 29.84164516, 30.27536667, 29.42951613,
               28.42803333, 27.19356667, 26.41174194, 25.91353571, 26.10416129,
               26.7971    , 27.4526129 , 28.47316667, 28.37674194, 28.44206452,
               29.5407    , 29.15735484, 28.5399    , 27.60676667, 26.71354839,
               26.5685    , 26.3573871 , 26.77466667, 27.90180645, 28.7061    ,
               28.67277419, 28.81745161, 29.34606667, 28.92322581, 28.34786667,
               27.12783333, 26.476     , 25.8402069 , 25.44370968, 25.64963333,
               26.74558065, 27.86976667, 28.21996774, 28.79309677, 29.06143333,
               28.70754839, 28.07583333, 26.65743333, 25.92787097, 25.65242857,
               25.22487097, 25.98873333, 26.28406452, 27.94226667, 28.56606452,
               28.42490323, 29.1095    , 29.25167742, 28.60743333, 27.7237    ,
               26.80229032, 26.652     , 27.21035484, 27.0912    , 28.18929032,
               29.03643333, 28.90358065, 29.28632258, 28.95173333, 29.02806452,
               27.90636667, 26.76626667, 25.98119355, 26.00221429, 25.6643871 ,
               26.58613333, 27.00306452, 28.2496    , 28.51670968, 28.68145161,
               29.0873    , 28.78090323, 28.44546667, 27.3042    , 26.16729032,
               25.88617241, 25.92022581, 26.48216667, 26.95541935, 28.1051    ,
               28.43690323, 28.66325806, 29.36266667, 29.3163871 , 28.71053333,
               27.68036667,         nan,         nan,         nan,         nan,
                       nan,         nan,         nan, 28.59153846, 28.79263333,
               29.12929032, 28.314     , 27.25753333, 26.29603226, 25.93757143,